.modal__container {
  position: fixed;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0 , 0, 0, .15);
  display: flex;
  flex-direction: column;
  width: 430px;
  background-color: #fff;
  color: #000;
}

.modal__body {
  display: flex;
  flex-direction: column;
  width: 358px;
  margin: 0 auto;
}

.modal__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  padding-top: 34px;
  padding-left: 36px;
  padding-bottom: 54px;
}

.modal__input {
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 13px;
}

.modal__input::placeholder{
  color: #000;
}

.modal__name {
  margin-bottom: 30px;
}
.modal__description {
  margin-bottom: 48px;
}

.modal__save-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  padding: 0;
  border: 0;
  background-color: black;
  height: 50px;
  border-radius: 2px;
  margin-bottom: 36px;
  transition: opacity .3s ease;
  cursor: pointer;
}

.modal__save-button:hover {
  opacity: .8;
}


.modal__close-button {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  right: -48px;
  top: -48px;
  transition: opacity ease .3s;
}

.modal__close-button:hover{
  opacity: .6;
}